<a href="https://colab.research.google.com/github/FeitanPortor/Tensorflow/blob/main/insurance_data_model_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [52]:
ds = pd.read_csv("./insurance.csv")

In [53]:
ds = ds.drop_duplicates()
ds = ds.dropna()

In [54]:
ds.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [55]:
ds_one_hot = pd.get_dummies(ds)

In [56]:
ds_one_hot.head(10)
# ds

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
5,31,25.740,0,3756.62160,1,0,1,0,0,0,1,0
6,46,33.440,1,8240.58960,1,0,1,0,0,0,1,0
7,37,27.740,3,7281.50560,1,0,1,0,0,1,0,0
8,37,29.830,2,6406.41070,0,1,1,0,1,0,0,0
9,60,25.840,0,28923.13692,1,0,1,0,0,1,0,0

In [57]:
ds.shape, ds_one_hot.shape

((1337, 7), (1337, 12))

In [58]:
x = ds_one_hot.drop("charges", axis=1)
y = ds_one_hot["charges"]

In [59]:
x.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [60]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [61]:
x_tr, x_ts, y_tr, y_ts = train_test_split(
    x, y, test_size=0.20, random_state=42)

In [62]:
x_tr.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
1114,23,24.510,0,0,1,1,0,1,0,0,0
968,21,25.745,2,0,1,1,0,1,0,0,0
599,52,37.525,2,1,0,1,0,0,1,0,0
170,63,41.470,0,0,1,1,0,0,0,1,0
275,47,26.600,2,1,0,1,0,1,0,0,0

In [63]:
x_tr.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
1114,23,24.510,0,0,1,1,0,1,0,0,0
968,21,25.745,2,0,1,1,0,1,0,0,0
599,52,37.525,2,1,0,1,0,0,1,0,0
170,63,41.470,0,0,1,1,0,0,0,1,0
275,47,26.600,2,1,0,1,0,1,0,0,0

In [64]:
y_tr.head()

1114     2396.09590
968      3279.86855
599     33471.97189
170     13405.39030
275      9715.84100
Name: charges, dtype: float64

In [65]:
x_ts.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
900,49,22.515,0,0,1,1,0,1,0,0,0
1064,29,25.600,4,1,0,1,0,0,0,0,1
1256,51,36.385,3,1,0,1,0,0,1,0,0
298,31,34.390,3,0,1,0,1,0,1,0,0
237,31,38.390,2,0,1,1,0,0,0,1,0

In [66]:
y_ts.head()

900      8688.85885
1064     5708.86700
1256    11436.73815
298     38746.35510
237      4463.20510
Name: charges, dtype: float64

In [67]:
len(x_tr), len(x_ts), len(y_tr), len(y_ts), len(x), len(y)

(1069, 268, 1069, 268, 1337, 1337)

# 1. Model Set up

In [68]:
tf.random.set_seed(42)

In [69]:
insr_model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(90, activation="relu"),
    tf.keras.layers.Dense(90, activation="relu"),
    tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(1, activation="relu")
])

In [70]:
insr_model.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.optimizers.Adamax(learning_rate=0.01),
    metrics=tf.metrics.mean_absolute_error
)

In [71]:
insr_model.fit(tf.expand_dims(x_tr, axis=-1), y_tr, epochs=190, verbose=0)

In [72]:
insr_model.evaluate(x_ts, y_ts)

9/9 [==============================] - 0s 3ms/step - loss: 14272.0068 - mean_absolute_error: 14272.0068

[14272.0068359375, 14272.0068359375]

# Improving the model accuracy

In [73]:
tf.random.set_seed(42)

In [89]:
insr_model_impr = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(256, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(1024, activation="relu"),
    tf.keras.layers.Dense(1024, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(256, activation="relu"),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(1, activation="linear"),
])

In [93]:
insr_model_impr.compile(
    loss=tf.losses.mae,
    optimizer=tf.optimizers.Adamax(learning_rate=0.002),
    metrics=tf.metrics.mean_absolute_error
)

In [94]:
with tf.device('/GPU:0'):
  # insr_model_impr = get_model(hidden_layers=8)
  insr_model_impr.fit(tf.expand_dims(x_tr, axis=-1), y_tr, epochs=190, verbose=1)

Epoch 1/190
34/34 [==============================] - 4s 10ms/step - loss: 8025.5977 - mean_absolute_error: 8025.5977
Epoch 2/190
34/34 [==============================] - 0s 10ms/step - loss: 8034.2051 - mean_absolute_error: 8034.2051
Epoch 3/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.8037 - mean_absolute_error: 8025.8037
Epoch 4/190
34/34 [==============================] - 0s 9ms/step - loss: 8041.9263 - mean_absolute_error: 8041.9263
Epoch 5/190
34/34 [==============================] - 0s 10ms/step - loss: 8032.6382 - mean_absolute_error: 8032.6382
Epoch 6/190
34/34 [==============================] - 1s 15ms/step - loss: 8025.0869 - mean_absolute_error: 8025.0869
Epoch 7/190
34/34 [==============================] - 1s 15ms/step - loss: 8029.2749 - mean_absolute_error: 8029.2749
Epoch 8/190
34/34 [==============================] - 0s 14ms/step - loss: 8044.8970 - mean_absolute_error: 8044.8970
Epoch 9/190
34/34 [==============================] - 1s 15ms/step - loss: 8038.8149 - mean_absolute_error: 8038.8149
Epoch 10/190
34/34 [==============================] - 0s 14ms/step - loss: 8080.2163 - mean_absolute_error: 8080.2163
Epoch 11/190
34/34 [==============================] - 0s 10ms/step - loss: 8028.5312 - mean_absolute_error: 8028.5312
Epoch 12/190
34/34 [==============================] - 0s 10ms/step - loss: 8042.4546 - mean_absolute_error: 8042.4546
Epoch 13/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.4688 - mean_absolute_error: 8023.4688
Epoch 14/190
34/34 [==============================] - 0s 10ms/step - loss: 8040.2676 - mean_absolute_error: 8040.2676
Epoch 15/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.8589 - mean_absolute_error: 8025.8589
Epoch 16/190
34/34 [==============================] - 0s 9ms/step - loss: 8025.4639 - mean_absolute_error: 8025.4639
Epoch 17/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.1616 - mean_absolute_error: 8023.1616
Epoch 18/190
34/34 [==============================] - 0s 9ms/step - loss: 8034.2290 - mean_absolute_error: 8034.2290
Epoch 19/190
34/34 [==============================] - 0s 9ms/step - loss: 8022.8438 - mean_absolute_error: 8022.8438
Epoch 20/190
34/34 [==============================] - 0s 9ms/step - loss: 8018.8970 - mean_absolute_error: 8018.8970
Epoch 21/190
34/34 [==============================] - 0s 9ms/step - loss: 8031.8271 - mean_absolute_error: 8031.8271
Epoch 22/190
34/34 [==============================] - 0s 10ms/step - loss: 8036.1675 - mean_absolute_error: 8036.1675
Epoch 23/190
34/34 [==============================] - 0s 10ms/step - loss: 8039.5332 - mean_absolute_error: 8039.5332
Epoch 24/190
34/34 [==============================] - 0s 10ms/step - loss: 8041.3760 - mean_absolute_error: 8041.3760
Epoch 25/190
34/34 [==============================] - 0s 9ms/step - loss: 8017.7026 - mean_absolute_error: 8017.7026
Epoch 26/190
34/34 [==============================] - 0s 9ms/step - loss: 8020.5596 - mean_absolute_error: 8020.5596
Epoch 27/190
34/34 [==============================] - 0s 9ms/step - loss: 8018.3716 - mean_absolute_error: 8018.3716
Epoch 28/190
34/34 [==============================] - 0s 9ms/step - loss: 8023.8149 - mean_absolute_error: 8023.8149
Epoch 29/190
34/34 [==============================] - 0s 9ms/step - loss: 8021.7559 - mean_absolute_error: 8021.7559
Epoch 30/190
34/34 [==============================] - 0s 10ms/step - loss: 8033.9561 - mean_absolute_error: 8033.9561
Epoch 31/190
34/34 [==============================] - 0s 10ms/step - loss: 8022.4360 - mean_absolute_error: 8022.4360
Epoch 32/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.2168 - mean_absolute_error: 8025.2168
Epoch 33/190
34/34 [==============================] - 0s 9ms/step - loss: 8032.7285 - mean_absolute_error: 8032.7285
Epoch 34/190
34/34 [==============================] - 0s 9ms/step - loss: 8029.3320 - mean_absolute_error: 8029.3320
Epoch 35/190
34/34 [==============================] - 0s 9ms/step - loss: 8021.9878 - mean_absolute_error: 8021.9878
Epoch 36/190
34/34 [==============================] - 0s 9ms/step - loss: 8018.4575 - mean_absolute_error: 8018.4575
Epoch 37/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.1133 - mean_absolute_error: 8019.1133
Epoch 38/190
34/34 [==============================] - 0s 9ms/step - loss: 8024.8550 - mean_absolute_error: 8024.8550
Epoch 39/190
34/34 [==============================] - 0s 9ms/step - loss: 8040.0420 - mean_absolute_error: 8040.0420
Epoch 40/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.9028 - mean_absolute_error: 8025.9028
Epoch 41/190
34/34 [==============================] - 0s 15ms/step - loss: 8026.0728 - mean_absolute_error: 8026.0728
Epoch 42/190
34/34 [==============================] - 0s 14ms/step - loss: 8026.6128 - mean_absolute_error: 8026.6128
Epoch 43/190
34/34 [==============================] - 0s 14ms/step - loss: 8044.3535 - mean_absolute_error: 8044.3535
Epoch 44/190
34/34 [==============================] - 0s 14ms/step - loss: 8027.2339 - mean_absolute_error: 8027.2339
Epoch 45/190
34/34 [==============================] - 1s 16ms/step - loss: 8038.2524 - mean_absolute_error: 8038.2524
Epoch 46/190
34/34 [==============================] - 0s 11ms/step - loss: 8028.9272 - mean_absolute_error: 8028.9272
Epoch 47/190
34/34 [==============================] - 0s 10ms/step - loss: 8030.9409 - mean_absolute_error: 8030.9409
Epoch 48/190
34/34 [==============================] - 0s 10ms/step - loss: 8029.8496 - mean_absolute_error: 8029.8496
Epoch 49/190
34/34 [==============================] - 0s 10ms/step - loss: 8052.5698 - mean_absolute_error: 8052.5698
Epoch 50/190
34/34 [==============================] - 0s 10ms/step - loss: 8036.2695 - mean_absolute_error: 8036.2695
Epoch 51/190
34/34 [==============================] - 0s 10ms/step - loss: 8017.5493 - mean_absolute_error: 8017.5493
Epoch 52/190
34/34 [==============================] - 0s 10ms/step - loss: 8018.5894 - mean_absolute_error: 8018.5894
Epoch 53/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.3359 - mean_absolute_error: 8020.3359
Epoch 54/190
34/34 [==============================] - 0s 9ms/step - loss: 8018.4507 - mean_absolute_error: 8018.4507
Epoch 55/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.0215 - mean_absolute_error: 8020.0215
Epoch 56/190
34/34 [==============================] - 0s 9ms/step - loss: 8022.5874 - mean_absolute_error: 8022.5874
Epoch 57/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.8521 - mean_absolute_error: 8023.8521
Epoch 58/190
34/34 [==============================] - 0s 10ms/step - loss: 8030.1167 - mean_absolute_error: 8030.1167
Epoch 59/190
34/34 [==============================] - 0s 10ms/step - loss: 8026.6465 - mean_absolute_error: 8026.6465
Epoch 60/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.2124 - mean_absolute_error: 8019.2124
Epoch 61/190
34/34 [==============================] - 0s 10ms/step - loss: 8036.8960 - mean_absolute_error: 8036.8960
Epoch 62/190
34/34 [==============================] - 0s 10ms/step - loss: 8033.9385 - mean_absolute_error: 8033.9385
Epoch 63/190
34/34 [==============================] - 0s 10ms/step - loss: 8028.1338 - mean_absolute_error: 8028.1338
Epoch 64/190
34/34 [==============================] - 0s 10ms/step - loss: 8033.2983 - mean_absolute_error: 8033.2983
Epoch 65/190
34/34 [==============================] - 0s 10ms/step - loss: 8039.8623 - mean_absolute_error: 8039.8623
Epoch 66/190
34/34 [==============================] - 0s 9ms/step - loss: 8028.4053 - mean_absolute_error: 8028.4053
Epoch 67/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.2910 - mean_absolute_error: 8019.2910
Epoch 68/190
34/34 [==============================] - 0s 9ms/step - loss: 8026.7100 - mean_absolute_error: 8026.7100
Epoch 69/190
34/34 [==============================] - 0s 10ms/step - loss: 8016.2534 - mean_absolute_error: 8016.2534
Epoch 70/190
34/34 [==============================] - 0s 9ms/step - loss: 8020.7529 - mean_absolute_error: 8020.7529
Epoch 71/190
34/34 [==============================] - 0s 9ms/step - loss: 8040.5557 - mean_absolute_error: 8040.5557
Epoch 72/190
34/34 [==============================] - 0s 10ms/step - loss: 8016.7935 - mean_absolute_error: 8016.7935
Epoch 73/190
34/34 [==============================] - 0s 9ms/step - loss: 8025.1021 - mean_absolute_error: 8025.1021
Epoch 74/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.9253 - mean_absolute_error: 8019.9253
Epoch 75/190
34/34 [==============================] - 0s 11ms/step - loss: 8026.8262 - mean_absolute_error: 8026.8262
Epoch 76/190
34/34 [==============================] - 0s 15ms/step - loss: 8031.2163 - mean_absolute_error: 8031.2163
Epoch 77/190
34/34 [==============================] - 0s 14ms/step - loss: 8032.7925 - mean_absolute_error: 8032.7925
Epoch 78/190
34/34 [==============================] - 0s 14ms/step - loss: 8021.1860 - mean_absolute_error: 8021.1860
Epoch 79/190
34/34 [==============================] - 0s 15ms/step - loss: 8016.8213 - mean_absolute_error: 8016.8213
Epoch 80/190
34/34 [==============================] - 0s 14ms/step - loss: 8026.1562 - mean_absolute_error: 8026.1562
Epoch 81/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.3677 - mean_absolute_error: 8020.3677
Epoch 82/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.4146 - mean_absolute_error: 8019.4146
Epoch 83/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.5352 - mean_absolute_error: 8025.5352
Epoch 84/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.7295 - mean_absolute_error: 8025.7295
Epoch 85/190
34/34 [==============================] - 0s 10ms/step - loss: 8016.6230 - mean_absolute_error: 8016.6230
Epoch 86/190
34/34 [==============================] - 0s 10ms/step - loss: 8038.0942 - mean_absolute_error: 8038.0942
Epoch 87/190
34/34 [==============================] - 0s 9ms/step - loss: 8029.9399 - mean_absolute_error: 8029.9399
Epoch 88/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.1460 - mean_absolute_error: 8023.1460
Epoch 89/190
34/34 [==============================] - 0s 10ms/step - loss: 8071.8325 - mean_absolute_error: 8071.8325
Epoch 90/190
34/34 [==============================] - 0s 10ms/step - loss: 8029.1050 - mean_absolute_error: 8029.1050
Epoch 91/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.9243 - mean_absolute_error: 8019.9243
Epoch 92/190
34/34 [==============================] - 0s 10ms/step - loss: 8052.1704 - mean_absolute_error: 8052.1704
Epoch 93/190
34/34 [==============================] - 0s 10ms/step - loss: 8034.1963 - mean_absolute_error: 8034.1963
Epoch 94/190
34/34 [==============================] - 0s 10ms/step - loss: 8015.7988 - mean_absolute_error: 8015.7988
Epoch 95/190
34/34 [==============================] - 0s 10ms/step - loss: 8042.9990 - mean_absolute_error: 8042.9990
Epoch 96/190
34/34 [==============================] - 0s 10ms/step - loss: 8032.9082 - mean_absolute_error: 8032.9082
Epoch 97/190
34/34 [==============================] - 0s 9ms/step - loss: 8023.9111 - mean_absolute_error: 8023.9111
Epoch 98/190
34/34 [==============================] - 0s 11ms/step - loss: 8023.4165 - mean_absolute_error: 8023.4165
Epoch 99/190
34/34 [==============================] - 0s 10ms/step - loss: 8031.6416 - mean_absolute_error: 8031.6416
Epoch 100/190
34/34 [==============================] - 0s 10ms/step - loss: 8018.5596 - mean_absolute_error: 8018.5596
Epoch 101/190
34/34 [==============================] - 0s 10ms/step - loss: 8017.7520 - mean_absolute_error: 8017.7520
Epoch 102/190
34/34 [==============================] - 0s 10ms/step - loss: 8037.8384 - mean_absolute_error: 8037.8384
Epoch 103/190
34/34 [==============================] - 0s 10ms/step - loss: 8034.6538 - mean_absolute_error: 8034.6538
Epoch 104/190
34/34 [==============================] - 0s 10ms/step - loss: 8026.0317 - mean_absolute_error: 8026.0317
Epoch 105/190
34/34 [==============================] - 0s 10ms/step - loss: 8027.5312 - mean_absolute_error: 8027.5312
Epoch 106/190
34/34 [==============================] - 0s 10ms/step - loss: 8027.7383 - mean_absolute_error: 8027.7383
Epoch 107/190
34/34 [==============================] - 0s 11ms/step - loss: 8036.3809 - mean_absolute_error: 8036.3809
Epoch 108/190
34/34 [==============================] - 0s 10ms/step - loss: 8026.7139 - mean_absolute_error: 8026.7139
Epoch 109/190
34/34 [==============================] - 0s 11ms/step - loss: 8018.7549 - mean_absolute_error: 8018.7549
Epoch 110/190
34/34 [==============================] - 1s 16ms/step - loss: 8020.3105 - mean_absolute_error: 8020.3105
Epoch 111/190
34/34 [==============================] - 0s 14ms/step - loss: 8033.3188 - mean_absolute_error: 8033.3188
Epoch 112/190
34/34 [==============================] - 1s 15ms/step - loss: 8031.2983 - mean_absolute_error: 8031.2983
Epoch 113/190
34/34 [==============================] - 0s 14ms/step - loss: 8030.3228 - mean_absolute_error: 8030.3228
Epoch 114/190
34/34 [==============================] - 1s 15ms/step - loss: 8021.2168 - mean_absolute_error: 8021.2168
Epoch 115/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.9062 - mean_absolute_error: 8019.9062
Epoch 116/190
34/34 [==============================] - 0s 10ms/step - loss: 8024.5171 - mean_absolute_error: 8024.5171
Epoch 117/190
34/34 [==============================] - 0s 9ms/step - loss: 8027.9702 - mean_absolute_error: 8027.9702
Epoch 118/190
34/34 [==============================] - 0s 9ms/step - loss: 8048.1431 - mean_absolute_error: 8048.1431
Epoch 119/190
34/34 [==============================] - 0s 10ms/step - loss: 8080.7456 - mean_absolute_error: 8080.7456
Epoch 120/190
34/34 [==============================] - 0s 10ms/step - loss: 8022.4863 - mean_absolute_error: 8022.4863
Epoch 121/190
34/34 [==============================] - 0s 10ms/step - loss: 8013.6865 - mean_absolute_error: 8013.6865
Epoch 122/190
34/34 [==============================] - 0s 10ms/step - loss: 8015.0366 - mean_absolute_error: 8015.0366
Epoch 123/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.8364 - mean_absolute_error: 8020.8364
Epoch 124/190
34/34 [==============================] - 0s 10ms/step - loss: 8014.6382 - mean_absolute_error: 8014.6382
Epoch 125/190
34/34 [==============================] - 0s 10ms/step - loss: 8022.7388 - mean_absolute_error: 8022.7388
Epoch 126/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.8008 - mean_absolute_error: 8019.8008
Epoch 127/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.3442 - mean_absolute_error: 8020.3442
Epoch 128/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.1636 - mean_absolute_error: 8019.1636
Epoch 129/190
34/34 [==============================] - 0s 10ms/step - loss: 8022.9663 - mean_absolute_error: 8022.9663
Epoch 130/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.8008 - mean_absolute_error: 8023.8008
Epoch 131/190
34/34 [==============================] - 0s 10ms/step - loss: 8034.2412 - mean_absolute_error: 8034.2412
Epoch 132/190
34/34 [==============================] - 0s 9ms/step - loss: 8020.6792 - mean_absolute_error: 8020.6792
Epoch 133/190
34/34 [==============================] - 0s 10ms/step - loss: 8033.2168 - mean_absolute_error: 8033.2168
Epoch 134/190
34/34 [==============================] - 0s 9ms/step - loss: 8060.8335 - mean_absolute_error: 8060.8335
Epoch 135/190
34/34 [==============================] - 0s 11ms/step - loss: 8028.8701 - mean_absolute_error: 8028.8701
Epoch 136/190
34/34 [==============================] - 0s 9ms/step - loss: 8019.5493 - mean_absolute_error: 8019.5493
Epoch 137/190
34/34 [==============================] - 0s 10ms/step - loss: 8028.3115 - mean_absolute_error: 8028.3115
Epoch 138/190
34/34 [==============================] - 0s 10ms/step - loss: 8046.8735 - mean_absolute_error: 8046.8735
Epoch 139/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.2402 - mean_absolute_error: 8020.2402
Epoch 140/190
34/34 [==============================] - 0s 10ms/step - loss: 8036.6128 - mean_absolute_error: 8036.6128
Epoch 141/190
34/34 [==============================] - 0s 10ms/step - loss: 8018.8232 - mean_absolute_error: 8018.8232
Epoch 142/190
34/34 [==============================] - 0s 10ms/step - loss: 8034.9795 - mean_absolute_error: 8034.9795
Epoch 143/190
34/34 [==============================] - 0s 10ms/step - loss: 8044.1665 - mean_absolute_error: 8044.1665
Epoch 144/190
34/34 [==============================] - 0s 13ms/step - loss: 8020.0806 - mean_absolute_error: 8020.0806
Epoch 145/190
34/34 [==============================] - 0s 15ms/step - loss: 8025.7642 - mean_absolute_error: 8025.7642
Epoch 146/190
34/34 [==============================] - 0s 14ms/step - loss: 8021.6772 - mean_absolute_error: 8021.6772
Epoch 147/190
34/34 [==============================] - 0s 14ms/step - loss: 8023.7417 - mean_absolute_error: 8023.7417
Epoch 148/190
34/34 [==============================] - 1s 16ms/step - loss: 8022.8101 - mean_absolute_error: 8022.8101
Epoch 149/190
34/34 [==============================] - 0s 12ms/step - loss: 8031.1504 - mean_absolute_error: 8031.1504
Epoch 150/190
34/34 [==============================] - 0s 10ms/step - loss: 8031.6167 - mean_absolute_error: 8031.6167
Epoch 151/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.4609 - mean_absolute_error: 8020.4609
Epoch 152/190
34/34 [==============================] - 0s 10ms/step - loss: 8018.6567 - mean_absolute_error: 8018.6567
Epoch 153/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.6372 - mean_absolute_error: 8023.6372
Epoch 154/190
34/34 [==============================] - 0s 10ms/step - loss: 8017.0981 - mean_absolute_error: 8017.0981
Epoch 155/190
34/34 [==============================] - 0s 10ms/step - loss: 8024.2939 - mean_absolute_error: 8024.2939
Epoch 156/190
34/34 [==============================] - 0s 10ms/step - loss: 8033.5229 - mean_absolute_error: 8033.5229
Epoch 157/190
34/34 [==============================] - 0s 10ms/step - loss: 8027.5483 - mean_absolute_error: 8027.5483
Epoch 158/190
34/34 [==============================] - 0s 10ms/step - loss: 8025.2891 - mean_absolute_error: 8025.2891
Epoch 159/190
34/34 [==============================] - 0s 11ms/step - loss: 8023.3555 - mean_absolute_error: 8023.3555
Epoch 160/190
34/34 [==============================] - 0s 10ms/step - loss: 8023.2065 - mean_absolute_error: 8023.2065
Epoch 161/190
34/34 [==============================] - 0s 11ms/step - loss: 8024.9243 - mean_absolute_error: 8024.9243
Epoch 162/190
34/34 [==============================] - 0s 10ms/step - loss: 8031.9937 - mean_absolute_error: 8031.9937
Epoch 163/190
34/34 [==============================] - 0s 10ms/step - loss: 8039.2944 - mean_absolute_error: 8039.2944
Epoch 164/190
34/34 [==============================] - 0s 10ms/step - loss: 8026.3799 - mean_absolute_error: 8026.3799
Epoch 165/190
34/34 [==============================] - 0s 11ms/step - loss: 8039.1450 - mean_absolute_error: 8039.1450
Epoch 166/190
34/34 [==============================] - 0s 10ms/step - loss: 8039.2178 - mean_absolute_error: 8039.2178
Epoch 167/190
34/34 [==============================] - 0s 10ms/step - loss: 8019.2554 - mean_absolute_error: 8019.2554
Epoch 168/190
34/34 [==============================] - 0s 10ms/step - loss: 8024.5078 - mean_absolute_error: 8024.5078
Epoch 169/190
34/34 [==============================] - 0s 10ms/step - loss: 8020.5127 - mean_absolute_error: 8020.5127
Epoch 170/190

In [95]:
insr_model_impr.evaluate(x_ts, y_ts)

9/9 [==============================] - 0s 8ms/step - loss: 9205.4521 - mean_absolute_error: 9205.4521

[9205.4521484375, 9205.4521484375]