<a href="https://colab.research.google.com/github/FeitanPortor/Tensorflow/blob/main/insurance_data_model_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [223]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [224]:
ds = pd.read_csv("./insurance.csv")

In [225]:
ds = ds.drop_duplicates()
ds = ds.dropna()

In [226]:
ds.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [227]:
ds_one_hot = pd.get_dummies(ds)

In [228]:
ds_one_hot.head(10)
# ds

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
5,31,25.740,0,3756.62160,1,0,1,0,0,0,1,0
6,46,33.440,1,8240.58960,1,0,1,0,0,0,1,0
7,37,27.740,3,7281.50560,1,0,1,0,0,1,0,0
8,37,29.830,2,6406.41070,0,1,1,0,1,0,0,0
9,60,25.840,0,28923.13692,1,0,1,0,0,1,0,0

In [229]:
ds.shape, ds_one_hot.shape

((1337, 7), (1337, 12))

In [230]:
x = ds_one_hot.drop("charges", axis=1)
y = ds_one_hot["charges"]
print(x.shape,y.shape)

(1337, 11) (1337,)

In [231]:
x.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [232]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [233]:
x_tr, x_ts, y_tr, y_ts = train_test_split(
    x, y, test_size=0.20, random_state=42)

In [234]:
# x_tr.head()
x_tr.shape, x_ts.shape, y_tr.shape, y_ts.shape

((1069, 11), (268, 11), (1069,), (268,))

In [235]:
x_tr.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
1114,23,24.510,0,0,1,1,0,1,0,0,0
968,21,25.745,2,0,1,1,0,1,0,0,0
599,52,37.525,2,1,0,1,0,0,1,0,0
170,63,41.470,0,0,1,1,0,0,0,1,0
275,47,26.600,2,1,0,1,0,1,0,0,0

In [236]:
y_tr.head()

1114     2396.09590
968      3279.86855
599     33471.97189
170     13405.39030
275      9715.84100
Name: charges, dtype: float64

In [237]:
x_ts.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
900,49,22.515,0,0,1,1,0,1,0,0,0
1064,29,25.600,4,1,0,1,0,0,0,0,1
1256,51,36.385,3,1,0,1,0,0,1,0,0
298,31,34.390,3,0,1,0,1,0,1,0,0
237,31,38.390,2,0,1,1,0,0,0,1,0

In [238]:
y_ts.head()

900      8688.85885
1064     5708.86700
1256    11436.73815
298     38746.35510
237      4463.20510
Name: charges, dtype: float64

In [239]:
len(x_tr), len(x_ts), len(y_tr), len(y_ts), len(x), len(y)

(1069, 268, 1069, 268, 1337, 1337)

# 1. Model Set up

In [240]:
tf.random.set_seed(42)

In [241]:
insr_model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(90, activation="relu"),
    tf.keras.layers.Dense(90, activation="relu"),
    tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(1, activation="relu")
])

In [242]:
insr_model.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.optimizers.Adamax(learning_rate=0.01),
    metrics=tf.metrics.mean_absolute_error
)

In [243]:
insr_model.fit(tf.expand_dims(x_tr, axis=-1), y_tr, epochs=190, verbose=0)

In [244]:
insr_model.evaluate(x_ts, y_ts)

9/9 [==============================] - 0s 3ms/step - loss: 9203.8623 - mean_absolute_error: 9203.8623

[9203.8623046875, 9203.8623046875]

# Improving the model accuracy

In [245]:
tf.random.set_seed(42)

In [246]:
insr_model_impr = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(256, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(1024, activation="relu"),
    # tf.keras.layers.Dense(2048, activation="relu"),
    tf.keras.layers.Dense(2048, activation="relu"),
    tf.keras.layers.Dense(1024, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(256, activation="relu"),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(1, activation="linear"),
])

In [247]:
insr_model_impr.compile(
    loss=tf.losses.mae,
    optimizer=tf.optimizers.Adamax(),
    metrics=tf.metrics.mean_absolute_error
)

In [251]:
with tf.device('/GPU:0'):
  # insr_model_impr = get_model(hidden_layers=8)
  insr_model_impr.fit(tf.expand_dims(x_tr, axis=-1), y_tr, epochs=70, verbose=0)

In [252]:
insr_model_impr.evaluate(x_ts, y_ts)

9/9 [==============================] - 0s 8ms/step - loss: 9202.9170 - mean_absolute_error: 9202.9170

[9202.9169921875, 9202.9169921875]